.create-class-form label {
  padding: 20px 0;
}

.create-race-heading {
  font-size: 65px;
  color: burlywood;
  letter-spacing: 1.5px;
  padding-top: 25px;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 560px) {
  .create-race-heading {
    font-size: 35px;
  }
}
