.footer {
  max-width: 1920px;
  width: 100%;
  height: 50px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 45px;
  align-items: center;
}

.footer-links {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

@media (max-width: 560px) {
  .footer-links {
    font-size: 15px;
  }
}
